<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
	<bindings>
   <basicHttpBinding>
     <binding name="HelloServiceBasicHttpBinding" />
   </basicHttpBinding>
   <netTcpBinding>
     <binding name="IssuesServiceTcpBinding" maxReceivedMessageSize="999999999">
       <security mode="None" />
     </binding>
     <binding name="SettingsServiceTcpBinding" maxReceivedMessageSize="999999999">
       <security mode="None" />
     </binding>
   </netTcpBinding>
 </bindings>
	<client>
   <endpoint address="http://localhost/hello" binding="basicHttpBinding"
     bindingConfiguration="HelloServiceBasicHttpBinding" contract="HelloService"
     name="HelloServiceBasicHttpBinding" />
   <endpoint address="net.tcp://localhost:8080/IssuesService" binding="netTcpBinding"
     bindingConfiguration="IssuesServiceTcpBinding" contract="IssuesServiceWCF.IssuesContract"
     name="IssuesServiceTcpBinding" />
   <endpoint address="net.tcp://localhost:8080/SettingsService"
     binding="netTcpBinding" bindingConfiguration="SettingsServiceTcpBinding"
     contract="SettingsServiceWCF.SettingsContract" name="SettingsServiceTcpBinding" />
 </client>
  </system.serviceModel>
</configuration>
