<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
	 <add name="RWR.IssueTracker.DSBO.Properties.Settings.StudioConnectionString"
	  connectionString="Data Source=localhost;Initial Catalog=Studio;Persist Security Info=True;User ID=RWR;Password=iforget"
	  providerName="System.Data.SqlClient" />
	 <!--<add name="RWR.IssueTracker.DSBO.Properties.Settings.StudioConnectionString"
	  connectionString="Data Source=.\sqlexpress;Initial Catalog=Studio;Persist Security Info=True;User ID=RWR;Password=iforget"
	  providerName="System.Data.SqlClient" />-->
 </connectionStrings>

  <system.serviceModel>
	<bindings>
	  <netTcpBinding>
		<binding name="IssuesServiceTcpBinding" maxReceivedMessageSize="999999999">
		  <security mode="None" />
		</binding>
		<binding name="SettingsServiceTcpBinding" maxReceivedMessageSize="999999999">
		  <security mode="None" />
		</binding>
	  </netTcpBinding>
	</bindings>
	<client>
	  <endpoint address="net.tcp://localhost:8080/IssuesService"
				binding="netTcpBinding"
				bindingConfiguration="IssuesServiceTcpBinding"
				name="IssuesServiceTcpBinding"
				contract="IssuesServiceWCF.IssuesContract">
	  </endpoint>
	  <endpoint address="net.tcp://localhost:8080/SettingsService"
				binding="netTcpBinding"
				bindingConfiguration="SettingsServiceTcpBinding"
				name="SettingsServiceTcpBinding"
				contract="SettingsServiceWCF.SettingsContract" />
	</client>
  </system.serviceModel>
</configuration>