<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <!-- BEG set WebServiceURI's runtime (sectionGroup name MUST BE "applicationSettings" -->
	  <!--     COPY EACH SECTION FROM TARGET app.config -->
	  <section name="RWR.IssueTracker.DSBO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	  <section name="RWR.Windows.Components.DSBO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	  <!-- END set WebServiceURI's runtime (sectionGroup name MUST BE "applicationSettings" -->
	</sectionGroup>
  </configSections>

  <applicationSettings>
	<!-- BEG set WebServiceURI's runtime (COPY EACH ENTIRE SETTING FROM DSBO app.config -->
	<RWR.IssueTracker.DSBO.Properties.Settings>
	  <setting name="RWR_IssueTracker_DSBO_IssuesServiceASMX_IssuesServiceASMX" serializeAs="String">
		<!-- OVERRIDE HERE -->
		<!--<value>http://localhost/RWR.Web.Services/IssuesASMX.asmx</value>-->
		<value>http://localhost:63078/IssuesASMX.asmx</value>
	  </setting>
	</RWR.IssueTracker.DSBO.Properties.Settings>
	<RWR.Windows.Components.DSBO.Properties.Settings>
	  <setting name="RWR_Windows_Components_DSBO_SettingsServiceASMX_SettingsServiceASMX" serializeAs="String">
		<!-- OVERRIDE HERE -->
		<!--<value>http://localhost/RWR.Web.Services/SettingsASMX.asmx</value>-->
		<value>http://localhost:63078/SettingsASMX.asmx</value>
	  </setting>
	</RWR.Windows.Components.DSBO.Properties.Settings>
	<!-- END set WebServiceURI's runtime (COPY ENTIRE SECTION FROM TARGET app.config -->
  </applicationSettings>

  <system.serviceModel>
	<bindings>
	  <netTcpBinding>
		<binding name="IssuesServiceTcpBinding" maxReceivedMessageSize="999999999">
		  <security mode="None" />
		</binding>
		<binding name="SettingsServiceTcpBinding" maxReceivedMessageSize="999999999">
		  <security mode="None" />
		</binding>
	  </netTcpBinding>
	</bindings>
	<client>
	  <endpoint address="net.tcp://localhost:8080/IssuesService" 
				binding="netTcpBinding"
				bindingConfiguration="IssuesServiceTcpBinding"
				name="IssuesServiceTcpBinding"
				contract="IssuesServiceWCF.IssuesContract">
	  </endpoint>
	  <endpoint address="net.tcp://localhost:8080/SettingsService"
				binding="netTcpBinding" 
				bindingConfiguration="SettingsServiceTcpBinding"
				name="SettingsServiceTcpBinding" 
				contract="SettingsServiceWCF.SettingsContract" />
	</client>
  </system.serviceModel>
</configuration>
