<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	<add name="RWR.Windows.Components.DSBO.Properties.Settings.RWR_SettingsConnectionString"
		 connectionString="Data Source=localhost; Initial Catalog=RWR.Settings; Persist Security Info=True; User ID=RWR; Password=iforget"
		 providerName="System.Data.SqlClient"/>
	<add name="RWR.IssueTracker.DSBO.Properties.Settings.StudioConnectionString"
		 connectionString="Data Source=localhost;Initial Catalog=Studio;Persist Security Info=True;User ID=RWR;Password=iforget"
		 providerName="System.Data.SqlClient"/>
	<!--<add name="RWR.Windows.Components.DSBO.Properties.Settings.RWR_SettingsConnectionString"
			 connectionString="Data Source=.\sqlexpress; Initial Catalog=RWR.Settings; Persist Security Info=True; User ID=RWR; Password=iforget"
			 providerName="System.Data.SqlClient"/>
		<add name="RWR.IssueTracker.DSBO.Properties.Settings.StudioConnectionString"
			 connectionString="Data Source=.\sqlexpress;Initial Catalog=Studio;Persist Security Info=True;User ID=RWR;Password=iforget"
			 providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.serviceModel>
	<services>
	  <service name="RWR.Host.HelloService" behaviorConfiguration="DefaultBehavior">
		<endpoint address="http://localhost/hello"
				  binding="basicHttpBinding"
				  contract="RWR.Host.HelloService"/>
	  </service>
	  <service name="RWR.ServiceImplementation.WCF.SettingsServiceWCF" behaviorConfiguration="DefaultBehavior">
		<host>
		  <baseAddresses>
			<add baseAddress="net.tcp://localhost:8080/" />
		  </baseAddresses>
		</host>
		<endpoint address="SettingsService"
				  binding="netTcpBinding"
				  bindingConfiguration="DefaultBinding"
				  contract="RWR.ServiceContracts.WCF.ISettingsContract"/>
		<endpoint address="net.tcp://localhost:8081/localhost/Smex" binding="mexTcpBinding" contract="IMetadataExchange" />
	  </service>
	  <service name="RWR.ServiceImplementation.WCF.IssuesServiceWCF" behaviorConfiguration="DefaultBehavior">
		<host>
		  <baseAddresses>
			<add baseAddress="net.tcp://localhost:8080/" />
		  </baseAddresses>
		</host>
		<endpoint address="IssuesService"
				  binding="netTcpBinding"
				  bindingConfiguration="DefaultBinding"
				  contract="RWR.ServiceContracts.WCF.IIssuesContract"/>
		<endpoint address="net.tcp://localhost:8081/localhost/Imex" binding="mexTcpBinding" contract="IMetadataExchange" />
	  </service>
	</services>

	<bindings>
	  <netTcpBinding>
		<binding name="DefaultBinding">
		  <security mode="None" />
		</binding>
	  </netTcpBinding>
	  <customBinding>
		<binding name="MexBinding">
		  <tcpTransport maxPendingConnections="20" listenBacklog="20">
			<connectionPoolSettings groupName="default"  maxOutboundConnectionsPerEndpoint="20" />
		  </tcpTransport>
		</binding>
	  </customBinding>
	</bindings>

	<behaviors>
	  <serviceBehaviors>
		<behavior name="DefaultBehavior">
		  <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
		  <serviceDebug includeExceptionDetailInFaults="true"/>
		</behavior>
	  </serviceBehaviors>
	</behaviors>
  </system.serviceModel>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
