<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="RWR.Windows.Components.DSBO.Properties.Settings.RWR_SettingsConnectionString" 
			 connectionString="Data Source=localhost; Initial Catalog=RWR.Settings; Persist Security Info=True; User ID=RWR; Password=iforget" 
			 providerName="System.Data.SqlClient"/>
		<add name="RWR.IssueTracker.DSBO.Properties.Settings.StudioConnectionString" 
			 connectionString="Data Source=localhost;Initial Catalog=Studio;Persist Security Info=True;User ID=RWR;Password=iforget" 
			 providerName="System.Data.SqlClient"/>
		<!--<add name="RWR.Windows.Components.DSBO.Properties.Settings.RWR_SettingsConnectionString" connectionString="Data Source=.\sqlexpress; Initial Catalog=RWR.Settings; Persist Security Info=True; User ID=RWR; Password=iforget" providerName="System.Data.SqlClient"/>
		<add name="RWR.IssueTracker.DSBO.Properties.Settings.StudioConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Studio;Persist Security Info=True;User ID=RWR;Password=iforget" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>

  <system.serviceModel>
	<bindings>
	  <netTcpBinding>
		<binding name="IssuesServiceTcpBinding" maxReceivedMessageSize="999999999">
		  <security mode="None" />
		</binding>
		<binding name="SettingsServiceTcpBinding" maxReceivedMessageSize="999999999">
		  <security mode="None" />
		</binding>
	  </netTcpBinding>
	</bindings>
	<client>
	  <endpoint address="net.tcp://localhost:8080/IssuesService"
				binding="netTcpBinding"
				bindingConfiguration="IssuesServiceTcpBinding"
				name="IssuesServiceTcpBinding"
				contract="IssuesServiceWCF.IssuesContract">
	  </endpoint>
	  <endpoint address="net.tcp://localhost:8080/SettingsService"
				binding="netTcpBinding"
				bindingConfiguration="SettingsServiceTcpBinding"
				name="SettingsServiceTcpBinding"
				contract="SettingsServiceWCF.SettingsContract" />
	</client>
  </system.serviceModel>

</configuration>
